   <!-- Footer -->
    <footer id="footer" class="py-5 bg-dark">
      <div class="container">
        <ul class="list-inline text-center">
              <!-- FACEBOOK -->
              <li class="list-inline-item">
                  <a id="face" target="_blank" href="https://www.facebook.com/cdsi.optimization.9" title="FACEBOOK">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <!-- YOOTUVE -->
              <li class="list-inline-item">
                  <a id="youtube" href="#" title="YOOTUVE">
                  <span class="fa-stack fa-lg">
                     <i class="fa fa-circle fa-stack-2x"></i>
                     <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <!-- LINKEDIN -->
              <li class="list-inline-item">
                  <a href="#" title="LINKEDIN">
                  <span class="fa-stack fa-lg">
                     <i class="fa fa-circle fa-stack-2x"></i>
                     <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
        <p class="m-0 text-center text-white">© Copyright C.D.S.I.2003. Ultima Actualización Diciembre del 2017. Todos los Derechos Reservados. </p>
      
      </div>
      <!-- /.container -->
    </footer>